.btn-custom {
    background-color: var(--highlight);
    border-color: var(--highlight);
    border-radius: 6px;
    color: white;
    font-weight: bold;
    padding: 0.5rem 1.2rem;
    transition: 0.3s ease-in-out;
}

[data-bs-theme="light"] .btn-custom {
    background-color: #671fa5;
    border-color: #671fa5;
}

.btn-custom:hover {
    background-color: #481d74;
    border-color: #481d74;
}

