@page "/admin"
@layout AdminLayout
@attribute [Authorize]

<PageTitle>Dashboard - ZaneStacked</PageTitle>

<main class="container-fluid">
    <h2 class="mb-3 mt-2">Dashboard</h2>
    <AuthorizeView>
        <Authorized>
            <p>Welcome <span>@context.User.Identity?.Name</span></p>
        </Authorized>
    </AuthorizeView>

    <RandomExcuse/>

    <button class="btn btn-danger mt-3"
            @onclick="ThrowException">Throw an Exception to show Blazor Error UI
    </button>
</main>

@code {

    private void ThrowException()
    {
        throw new Exception("This is a test exception to show the Blazor error UI.");
    }

}