@page "/admin/projects"
@layout AdminLayout
@attribute [Authorize]

<PageTitle>Projects - ZaneStacked</PageTitle>

<main class="container-fluid">
    <h2 class="mb-3 mt-2">Projects</h2>
</main>

@code {

}