@page "/admin/projects"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Projects - ZaneStacked</PageTitle>

<h1>Manage Projects</h1>
<p>Add, List, Edit, Delete</p>


@code {

}