@page "/admin/settings"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@using ZaneStacked.Web.Services

<PageTitle>Settings - ZaneStacked</PageTitle>

<main class="container-fluid">
    <h2 class="mb-3 mt-2">Settings</h2>
    <LoadingButton
        ButtonClass="btn-danger"
        Text="Delete the Universe"
        IsLoading="@_isLoading"
        Disabled="@IsButtonDisabled"
        OnClick="RegretThisDecision"/>

    @if (_showAlert)
    {
        <div class="alert alert-danger mt-3" role="alert">
            The Universe has been deleted. I hope you're happy.
        </div>
    }
</main>

@code {

    [Inject]
    private NavigationManager Navigation { get; set; } = null!;

    [Inject]
    private ToastService ToastService { get; set; } = null!;

    private bool _isLoading;

    private bool IsButtonDisabled => _isLoading || _showAlert;

    private bool _showAlert;

    private async Task RegretThisDecision()
    {
        _isLoading = true;
        await Task.Delay(TimeSpan.FromSeconds(2));

        _showAlert = true;
        StateHasChanged();

        _isLoading = false;
        await Task.Delay(TimeSpan.FromSeconds(3));

        await ToastService.ShowToastAsync(ToastType.Warning);
        await Task.Delay(TimeSpan.FromSeconds(3));

        Navigation.NavigateTo("/cosmic-regret");
    }

}