@page "/settings"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@using ZaneStacked.Web.Components.Shared.Controls

@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Navigation

<Navbar/>
<h1>Settings</h1>

<button class="btn btn-danger" @onclick="Noo">Delete the Universe</button>

@code {

    private void Noo()
    {
        Navigation.NavigateTo("/logout");
    }

}