@page "/admin/settings"
@layout AdminLayout
@attribute [Authorize(Roles = "Admin")]

@using ZaneStacked.Web.Identity

<PageTitle>Settings - ZaneStacked</PageTitle>

<main class="container-fluid">
    <h2 class="mb-3 mt-2">Settings</h2>
    <LoadingButton
        ButtonClass="btn-danger"
        Text="Delete the Universe"
        IsLoading="@_isLoading"
        Disabled="@IsButtonDisabled"
        OnClick="Logout"/>
</main>

@code {

    [Inject]
    private IAccountManagement AccountManagement { get; set; } = null!;

    private bool _isLoading;

    private bool IsButtonDisabled => _isLoading;

    private async Task Logout()
    {
        _isLoading = true;
        await Task.Delay(TimeSpan.FromSeconds(2));
        _isLoading = false;

        // if (await AccountManagement.CheckAuthenticatedAsync())
        // {
        //     await AccountManagement.LogoutAsync();
        // }
    }

}