@page "/admin/settings"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize(Roles = "Admin")]
@inject NavigationManager Navigation

<PageTitle>Settings - ZaneStacked</PageTitle>

<h1>Settings</h1>

<button class="btn btn-danger" @onclick="Noo">Delete the Universe</button>

@code {

    private void Noo()
    {
        Navigation.NavigateTo("/logout");
    }

}