@page "/admin/skills"
@layout AdminLayout

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize]

<PageTitle>Skills - ZaneStacked</PageTitle>

<h1>Manage Skills</h1>
<p>Add, List, Edit, Delete</p>

@code {

}