@using ZaneStacked.Shared.DTOs
@using ZaneStacked.Web.Services
@inject ProjectService ProjectService

@if (_projects == null)
{
    <p>Loading projects...</p>
}
else if (!_projects.Any())
{
    <p>No projects found.</p>
}
else
{
    <ul>
        @foreach (var project in _projects)
        {
            <li>
                <strong>@project.Name</strong> - @project.Description
            </li>
        }
    </ul>
}

@code {
    
    private List<ProjectDto>? _projects;

    protected override async Task OnInitializedAsync()
    {
        _projects = await ProjectService.GetProjectsAsync();
    }

}