<div class="sidebar d-none d-lg-flex flex-column flex-shrink-0 pt-3 text-bg-dark" style="width: 280px;">
    <AdminNavLinks NavClass="nav nav-pills flex-column mb-auto px-3" />

    <AdminDropdown/>
</div>