@inherits LayoutComponentBase

<nav class="navbar navbar-dark admin-navbar fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler d-md-none" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#mobileSidebar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand mobile-title">
            @* <i class="bi bi-bootstrap"></i> Admin Panel *@
            Admin Panel
        </span>
    </div>
</nav>