<div class="offcanvas offcanvas-start bg-dark text-white d-md-none" tabindex="-1" id="mobileSidebar">
    <div class="offcanvas-header border-bottom">
        <h5 class="offcanvas-title">Menu</h5>
        <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column px-0 pb-0">
        <AdminNavLinks NavClass="nav flex-column" ItemClass="nav-item"/>
        
        <AdminDropdown/>
    </div>
</div>