<div class="navrail d-none d-md-flex d-lg-none flex-column text-center">
    <ul class="nav nav-pills nav-flush flex-column w-100">
        <li>
            <NavLink href="/admin" class="nav-link text-white" Match="NavLinkMatch.All" ActiveClass="active">
                <i class="bi bi-speedometer2"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="/admin/skills" class="nav-link text-white" ActiveClass="active">
                <i class="bi bi-lightbulb"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="/admin/projects" class="nav-link text-white" ActiveClass="active">
                <i class="bi bi-folder"></i>
            </NavLink>
        </li>
        <li>
            <NavLink href="/admin/settings" class="nav-link text-white" ActiveClass="active">
                <i class="bi bi-gear"></i>
            </NavLink>
        </li>
    </ul>

    <AdminDropdown/>
</div>