@page "/"

<PageTitle>ZaneStacked - Full-Stack Portfolio</PageTitle>

<main class="min-vh-100">
    <ZaneHero CssClass="pt-5"/>
    <SkillList CssClass="mt-5"/>
    <ProjectList CssClass="mt-5"/>
</main>

<ThemeToggle/>