@using ZaneStacked.Web.Identity
@inject IAccountManagement AccountManagement

<div class="dropdown mt-auto border-top p-3">
    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
       data-bs-toggle="dropdown">
        @* <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle me-2"> *@
        <strong>Zane</strong>
    </a>
    <ul class="dropdown-menu dropdown-menu-dark">
        <li>
            <a class="dropdown-item" href="#">Public</a>
        </li>
        <li>
            <button type="button" class="dropdown-item" @onclick="Logout">Sign out</button>
        </li>
    </ul>
</div>

@code {

    private async Task Logout()
    {
        if (await AccountManagement.CheckAuthenticatedAsync())
        {
            await AccountManagement.LogoutAsync();
        }
    }

}