@inherits LayoutComponentBase

<AdminThemeHelper />

<AuthorizeView>
    <Authorized>
        <AdminNavbar/>

        <div class="main-container">
            <AdminSidebar/>
            <AdminNavrail/>

            <div class="content">
                @Body
            </div>

            <AdminOffCanvas/>
        </div>
    </Authorized>
    <NotAuthorized>
        <div class="main-container">
            <div class="content">
                @Body
            </div>
        </div>
    </NotAuthorized>
</AuthorizeView>
