@* <AuthorizeView> *@
@*     <Authorized> *@
@*         <a href="admin">Admin</a> *@
@*         <a href="admin/skills">Skills</a> *@
@*         <a href="admin/Projects">Projects</a> *@
@*         <a href="admin/settings">Settings</a> *@
@*         <a href="logout">Logout</a> *@
@*         <br/> *@
@*         <p>Logged in as @context.User.Identity?.Name</p> *@
@*     </Authorized> *@
@*     <NotAuthorized> *@
@*         <a href="login">Login</a> *@
@*         <a href="register">Register</a> *@
@*     </NotAuthorized> *@
@* </AuthorizeView> *@